{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block tittle %}StacksFinance{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'core/img/favicon.png' %}" rel="icon">
  <link href="{% static 'coreassets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
  {% block googlefonts %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  {% endblock %}


  {% block vendorcss %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'core/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  {% endblock %}
  
  
  <!-- Template Main CSS File -->
  {% block maincss %}
  <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
  {% endblock %}


  
</head>

<body>
{% block body %}
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  
  <div class="mt-2 pt-1">
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{message}}
          
        </div>
    {% endfor %}
  {% endif %}
  </div>
  

  {% block content %}
  
  <!-- ======= Header ======= -->
  {% include 'core/header.html' %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>StacksFinance</span></h1>
      <h2>Bitcoin Investment Platform You Can Trust.</h2>
      <div class="d-flex">
        <a href="{% url 'account_signup' %}" class="btn-get-started scrollto">Get Started</a>
        <a href="https://youtu.be/WO-O2K_Fqw0" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">World Coverage</a></h4>
              <p class="description">Providing services in 99% countries around the world with a well invoiable network.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-lock"></i></div>
              <h4 class="title"><a href="">Strong Security</a></h4>
              <p class="description">Our website resides on a dedicated server with DDoS protection and SSL certificates</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Cost Efficiency</a></h4>
              <p class="description">No investment fee is charged, also no deposit or withdrawal fees or so ever.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-group"></i></div>
              <h4 class="title"><a href="">Referral Bonus</a></h4>
              <p class="description">Stand a chance to win $10 when a user registers with your referral code and invest on a plan.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>We are a trusted platform that you can trust with your bitcoin investments.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'core/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>StacksFinance is avail­able in all 50 US states as well as most inter­na­tional countries.</h3>
            <p class="fst-italic">
              Our goal is to be the easiest and most user-friendly way to invest in Bitcoin. The team is also focused on educating Bitcoiners of all experi­ence levels. 
              Our mission is to onboard the next million Bitcoin profitable investors. 
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Deposits and withdrawals</h5>
                  <p>Users can deposit Bitcoin to their StacksFinance wallet as well as withdraw their Bitcoin to another wallet every 24hrs with Zero additional charges</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Savings and Investments</h5>
                  <p>Users can also choose to save bitcoin for future use as well as invest in our different pricing plans to yield profits periodically.</p>
                </div>
              </li>
            </ul>
            <p>
              StacksFinance is Bitcoin investing made easy. Create an account, make a deposit, and explore our different planing  options, steadily grow  your investments. 
              You can also choose to make additional investments whenever you’d like with the “invest” button on your user dashboard.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    

   
    <!-- ======= Team Section ======= -->
    <section class="contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="section-title">
            <h2>Team</h2>
            <h3><span>Our Team Of Experts</span></h3>
            <p>A talented team of professionals from investment industries around the world.</p>
          </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 d-flex">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{% static 'core/img/team/team-1.jpg' %}">
                            <div class="card-body py-3">
                                <h5 class="mb-0">Larry Wright</h5>
                                <span>CEO & Co-Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{% static 'core/img/team/team-2.jpg' %}">
                            <div class="card-body py-3">
                                <h5 class="mb-0">Lina Flantier</h5>
                                <span>Co-Founder, Marketing</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="card mb-3">
                            <img class="card-img-top" src="{% static 'core/img/team/team-3.jpg' %}">
                            <div class="card-body py-3">
                                <h5 class="mb-0">John Taylor</h5>
                                <span>Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                      <div class="card mb-3">
                          <img class="card-img-top" src="{% static 'core/img/team/team-4.jpg' %}">
                          <div class="card-body py-3">
                              <h5 class="mb-0">Emily Jepson</h5>
                              <span>HR Manager</span>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Plans</h2>
          <h3>Check our <span>Plans</span></h3>
          <p>Register with StacksFinance and start earning today.</p>
        </div>

        <div class="row">

        {% for plan in plans %}

          <div class="col-lg-3 col-md-6 mt-4 col-sm-9 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>{{ plan.name }}</h3>
              <h4>{{ plan.intrest }}<sup>%</sup></h4>
              <h6> After {{ plan.modified_duration }} days</h6>

              <ul>
                <li><strong style="color: #106eea">Min: </strong>${{ plan.min_amount }}</li>
                <li><strong style="color: #106eea">Max: </strong> {% if plan.max_amount != 0 %} ${{ plan.max_amount }} {% else %} Unlimited {% endif %}</li>
                <li>$10 Referral Bonus</li>
                <li>Instant Withdrawal</li>
               
              </ul>
              <div class="btn-wrap">
                <a href="{{ plan.invest_now }}" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div>
          

          {% endfor %}
        </div>

      </div>
    </section><!-- End Pricing Section -->



  


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
          <p>Everything you need to know about saving and investing in Bitcoin with StacksFinance.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is StacksFinance and how does it work? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    StacksFinance is one of the best ways to invest Bitcoin in a tax-advantaged way. We offer both a self-directed traditional savings or investments, with Bitcoin held in a legal, regulated trust account. 
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Can I withdraw my Bitcoin from my account? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Bitcoin can be withdrawn into your wallet address provided upon registeration given legal and regulatory risks. Please contact us at <a href="mailto:support@stacksfinance.com? subject=client contact">support@stacksfinance.com</a> for more information.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can I open multiple StacksFinance accounts?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Yes, you can open multiple StacksFinance accounts
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How can I open a StacksFinance account? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    You can open an account by clicking on the <strong>account</strong> link at the top of the homepage, then click on <strong>Register.</strong>
                    <br>
                    You can also click <a href="{% url 'account_signup' %}">here</a> to register
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Does StacksFinance have a referral program?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    An amount of $10 is automatically added to your account balance when friends and family who register on StacksFinance using your referral code make their first investment.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">What are Stacksfinance fees? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                   Zero percent is charged on every deposit, investment or withdrawal on StacksFinance.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          <p>We are here to help and answer any question you might have. We look forward to hearing from you.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>support@stacksfinance.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">
            <form action="{% url 'home' %}" method="post" role="form" style="box-shadow: 0 0 30px rgba(214, 215, 216, 0.4); padding: 30px;">
              {% csrf_token %}
              
              <div class="row">
                <div class="col" style="margin-bottom: 20px;">
                  {{ form.name}}
                </div>
                <div class="col" style="margin-bottom: 20px;">
                  {{ form.email}}
                </div>
              </div>
              <div class="form-group" style="margin-bottom: 20px;">
                {{ form.subject}}
              </div>
              <div class="form-group" style="margin-bottom: 20px;">
                {{ form.message}}
              </div>
          
              <div  class="text-center"><button style="background: #106eea;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 4px;" type="submit">Send Message</button></div>
            </form>
          
          </div>
          <br>
          <hr>

          <!-- Bitcoin markets rates -->
          <div class="section-title">
            <h3><span>Bitcoin Market Rates</span></h3>
          </div>

          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <script src="https://widgets.coingecko.com/coingecko-coin-market-ticker-list-widget.js"></script>
               <coingecko-coin-market-ticker-list-widget  coin-id="bitcoin" currency="usd" locale="en"></coingecko-coin-market-ticker-list-widget>

            </div>
          </div><!-- End TBitcoin markets rates -->


        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'core/footer.html' %}
  <!-- End Footer -->
  
  {% endblock %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'core/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'core/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'core/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'core/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'core/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'core/vendor/php-email-form/validate.js' %}"></script>

  {% block vendorjs %}
  <!-- Vendor JS Files -->
  <script src="{% static 'core/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'core/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'core/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'core/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'core/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'core/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'core/vendor/remixicon/tinymce.min.js' %}"></script>
  {% endblock %}

  {% block mainjavascript %}
  <!-- Template Main JS File -->
  <script src="{% static 'core/js/main.js' %}"></script>
  {% endblock %}


 
</div>
{% endblock %}
</body>


</html>