{% extends "core/index.html" %}

{% load static %}

{% block content %}

<!-- ======= Header ======= -->
{% include 'core/header.html' %}
<!-- End Header -->

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Privacy</h2>
        <h3>Privacy <span>Policy</span></h3>
        <p>Describes how your personal information is collected, used, and shared when you visit stacksfinance.com</p>
        
      </div>

      <div class="row">
        <h4>What type of information do you collect?</h4>
        <p>We receive, collect and store any information you enter on our website or provide us in any other way. In addition, we collect the Internet protocol (IP) address used to connect your computer to the Internet; e-mail address; computer and connection information. We may use software tools to measure and collect session information, including page response times, length of visits to certain pages, page interaction information, and methods used to browse away from the page. We also collect personally identifiable information (including name, email, phone number, any information you type into our form);, comments, feedback, product reviews, recommendations, and personal profile.</p>
        <br>

        <h4>How do you collect information?</h4>
        <p>When you fill in a form on our website, as part of the process, we collect information you give us such as your name, email address, phone number, contact details. If you invest than other data will be provided enough to conduct KYC which is conducted by smartsearch using experian etc. Your personal information will be used for the specific reasons stated only.</p>
        <br>

        <h4>Why do you collect such personal information?</h4>
        <p>We collect such Non-personal and Personal Information for the following purposes:
            <li>
                <ol class="fst-italic">
                    <li>To provide and operate the Services;</li>
                    <li>To provide our Users with ongoing customer assistance and support;</li>
                    <li>To be able to contact our Visitors and Users with general or personalized service-related notices and promotional messages;</li>
                    <li>To create aggregated statistical data and other aggregated and/or inferred Non-personal Information, which we or our business partners may use to provide and improve our respective services;</li>
                    <li>To comply with any applicable laws and regulations.</li>
                    
                </ol>
            </li>

        </p>
        <br>

        <h4>How do you store, use, share and disclose your site visitors' personal information?</h4>
        <p>Our company is hosted on the Wix.com platform. Wix.com provides us with the online platform that allows us to sell our products and services to you. Your data may be stored through Wix.com’s data storage, databases and the general Wix.com applications. They store your data on secure servers behind a firewall. </p>
        <br>

        <h4>How do you communicate with your site visitors?</h4>
        <p>We may contact you to notify you regarding your account, to troubleshoot problems with your account, to resolve a dispute, to collect fees or monies owed, to poll your opinions through surveys or questionnaires, to send updates about our company, or as otherwise necessary to contact you to enforce our User Agreement, applicable national laws, and any agreement we may have with you. For these purposes we may contact you via email, telephone, text messages, and postal mail.</p>
        <br>

        <h4>Privacy policy updates</h4>
        <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. </p>
        <br>

        <h4>Data Retention</h4>
        <p>We will maintain your Information for our records unless and until you ask us to delete this information.</p>
        

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Footer ======= -->
  {% include 'core/footer.html' %}
  <!-- End Footer -->

{% endblock %}