<main>
    <div class="container">
  
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                  <h2 class="d-none d-lg-block">StacksFinance - NEW LOGIN ALERT</h2>
                </a>
              </div><!-- End Logo -->
  
              <div class="card mb-3">
  
                <div class="card-body">
  
                  <h3>Dear Admin,</h3>
                  <p>
                      there's a new user logging with the following details.
                  </p>
                  <br>

                  <div>
                    <h4>Username:   {{ user }}</h4>
                    <h4>Nationality: {{ nationality }}</h4>
                    <h4>Current City: {{ current_city }}</h4>
                    <h4>Current Country: {{ current_country }}</h4>
                    
                    <h4>Login Date: {{ date }}</h4>
                  </div>
                  
           
                  <p>
                     Thank You.
                  </p>
                
  
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </section>
  
    </div>
  </main><!-- End #main -->
  
  